<div class="card-container">
    @for (product of products; track $index) {
      <div class="card">
        <img src="{{ product.image }}" alt="{{ product.title }}" class="card-image">
        <div class="card-content">
          <h3 class="card-title">{{ product.id }} - {{ product.title }}</h3>
          <p class="card-price">${{ product.price }}</p>
          <p class="card-category">{{ product.category }}</p>
          <p class="card-description">{{ product.description }}</p>
  
          <button mat-button (click)="openDialog(product)">View Details</button>
        </div>
      </div>
    }
  </div>